// VARIABLES

// MIXINS

@mixin material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

// COLOR

$black: #222222;
$light-gray: #898989;
$white: #ffffff;
$pink: #f16d7f;

// UNIVERSAL CLASSES

.pink-text {
    color: $pink;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}


.headlane-page {
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 700;
    color: $black;
    text-align: center;

    &.headlane-page--uppercase {
        text-transform: uppercase;
    }
}

.headline-lighting {
    min-height: 150px;
}

.description-page {
    display: block;
    font-size: 14px;
    color: #9f9f9f;
    text-align: center;
}

.container {
    padding: 0 calc(50% - 580px);

}

.container-min {
    width: 245px;
    flex-shrink: 0;
}

.content-duo {
    display: flex;
}

.section-main {
    margin-bottom: 100px;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 1px #ececec;
}

.logotype {
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.logotype__image {
    margin-right: 13px;
    width: 59px;
    height: 51px;
}

.logotype__text {
    font-size: 27px;
    font-weight: 300;
    color: $black;
}

.logotype__pink-text {
    color: #f16d7f;
    font-weight: 900;
}

.headline-lighting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    background-color: #f8f3f4;

    .headline-page {
        margin: 0;
        font-size: 24px;
        font-weight: 900;
        color: $pink;
        text-align: center;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.breadcrumbs {

    .breadcrumbs__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;

        .breadcrumbs__item {
            position: relative;

            a {
                font-size: 14px;
                font-weight: 300;
                color: #636363;
                text-align: center;
                line-height: 20px;
                text-transform: uppercase;
                text-decoration: none;
            }

            &.breadcrumbs__item--active {
                a {
                    font-weight: 600;
                    color: $pink;;
                }
            }

            &:not(:last-child) {
                padding-right: 10px;

                &:before {
                    content: "/";
                    position: absolute;
                    top: 50%;
                    right: 3px;
                    color: #9f9f9f;
                    transform: translateY(-50%);
                }

            }
        }
    }
}

.button-browse {
    position: absolute;
    padding: 9px 24px 9px 15px;
    top: 50%;
    left: -86px;
    font-size: 14px;
    font-weight: 300;
    color: $black;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-image: -webkit-linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background-image: -o-linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background-image: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
    transform: translateY(-50%);
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        right: 10px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 4px solid #838383;
        transform: translateY(-50%);
    }

    &:focus {
        outline: none;
    }
}

.drop-down {
    display: none;
    position: absolute;
    min-width: 260px;
    padding: 20px 15px;
    top: 36px;
    left: -85px;
    background-color: $white;
    z-index: 6;

    &.drop-down--opened {
        display: block;
    }

    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: -7px;
        left: 64px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $white;
    }
}

.drop-down__list {
    list-style-type: none;

    .link-category {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: $black;
        line-height: 32px;
        text-transform: uppercase;
        box-shadow: 0 1px #e8e8e8;
        transition: .3s ease all;

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus {
            color: $pink;
        }
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.drop-down__item {
    a {
        display: block;
        padding: 5px 0;
        font-size: 14px;
        color: #4f4f4f;
        transition: .3s ease all;

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus {
            color: $black;
        }
    }
}

.search {
    position: relative;

    .input-container {
        input {
            width: 280px;
            padding: 9px 15px;
            font-size: 14px;
            font-weight: 300;
            color: $black;
            background-color: #fff;
            border: 1px solid #e6e6e6;
        }

        .button-search {
            position: absolute;
            width: 38px;
            height: 36px;
            top: 50%;
            right: -37px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            background-color: #fff;
            border: 1px solid rgb(230, 230, 230);
            transform: translateY(-50%);
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                width: 14px;
                height: 14px;
                top: 50%;
                left: 50%;
                background: url("../img/search-icon.png");
                background-repeat: no-repeat;
                background-size: contain;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.cart-block {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.cart__down {
    display: none;
    position: absolute;
    padding: 20px 15px;
    width: 260px;
    top: 50px;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    z-index: 5;

    &.cart__down--opened {
        display: block;
    }

    .total-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
    }

    .buttons {
        margin-top: 30px;

        .button-wrapper {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        .button {
            width: 100%;
        }
    }
}

.cart__product {
    display: flex;
    position: relative;
    padding-top: 17px;
    padding-bottom: 17px;
    box-shadow: 0px 1px rgba(237, 237, 237, .75);

    .product__image {
        margin-right: 14px;
    }

    .product__name {
        margin: 0;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
    }

    .rating {
        margin-bottom: 12px;

        i {
            transition: .3s ease all;

            &:hover {
                font-weight: 900;
                color: #e4af48;
            }
        }
    }

    .quantity-and-price {
        display: flex;
        align-items: baseline;
        font-size: 10px;
        font-weight: 600;
        color: $pink;
        text-transform: uppercase;

        .quantity,
        .price {
            font-size: 12px;
        }

        .quantity {
            margin-right: 5px;
        }

        .price {
            margin-left: 5px;
        }
    }

    .delete-product {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        .circle {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 50%;
            right: 0;
            background-color: #c0c0c0;
            border-radius: 50px;
            transform: translateY(-50%);
        }

        .icon {
            &:before {
                content: "";
                position: absolute;
                width: 8px;
                height: 2px;
                top: 50%;
                left: 50%;
                background-color: #fff;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
                content: "";
                position: absolute;
                width: 8px;
                height: 2px;
                top: 50%;
                left: 50%;
                background-color: #fff;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}

.cart__products {
    .cart__product {
        &:first-child {
            padding-top: 0;
        }
    }
}

.cart__link {
    display: block;
    position: relative;
    margin-right: 26px;
    width: 32px;
    height: 32px;

    &:before {
        content: "";
        position: absolute;
        width: 32px;
        height: 29px;
        top: 50%;
        left: 50%;
        background: url("../img/cart-icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%);
    }
}

.button-wrapper {
    display: flex;

    &.button-wrapper--center {
        justify-content: center;
    }
}

.button {
    display: block;
    position: relative;
    padding: 12px 19px;
    color: $black;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    border: none;
    transition: .3s ease all;
    cursor: pointer;

    &.button--primary {
        background-color: #f16d7f;
        color: $white;

        &:hover,
        &:focus {
            box-shadow: 0 0 0 4px rgba(241, 109, 127, .25);
        }

        &:focus {
            outline: none;
        }
    }

    &.button--secondary {
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 14px;
        color: $pink;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $white;
        box-shadow: 0 0 0 1px $pink;

        &:hover,
        &:focus {
            background-color: rgba(241, 109, 127, .1);
        }

        &:focus {
            outline: none;
        }
    }

    &.button--secondary-gray {
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 14px;
        color: #4a4a4a;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $white;
        box-shadow: 0 0 0 1px #eaeaea;

        &:hover,
        &:focus {
            background-color: rgba(234, 234, 234, 0.35);
        }

        &:focus {
            outline: none;
        }
    }

    &.button--add-to-cart {
        padding: 12px 13px 12px 43px;
        border: 1px solid $white;
        background-color: transparent;
        font-size: 13px;
        font-weight: 700;
        color: $white;

        &:before {
            content: "";
            position: absolute;
            width: 23px;
            height: 22px;
            top: 50%;
            left: 12px;
            background-image: url("../img/cart-icon-white.png");
            transform: translateY(-50%);
        }

        &:hover,
        &:focus-within {
            border-color: transparent;
            box-shadow: 0 0 20px $pink;
        }

        &:focus {
            outline: none;
        }
    }

    &.button--add-to-cart-pink {
        padding-left: 40px;
        border: 1px solid $white;
        background-color: transparent;
        font-size: 14px;
        color: $pink;
        font-weight: 700;
        text-transform: unset;

        &:before {
            content: "";
            position: absolute;
            width: 26px;
            height: 24px;
            top: 50%;
            left: 0;
            background-image: url("../img/cart-icon-pink.png");
            transform: translateY(-50%);
        }

        &:hover,
        &:focus {
            background-color: rgba(241, 109, 127, .1);
        }

        &:focus {
            outline: none;
        }
    }

    &.button--compare {
        width: 60px;
        height: 40px;
        border: 1px solid $white;
        background-color: transparent;

        &:before {
            content: "";
            position: absolute;
            width: 22px;
            height: 12px;
            top: 50%;
            left: 50%;
            background-image: url("../img/compare-icon.png");
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
        }

        &:hover,
        &:focus-within {
            border-color: transparent;
            box-shadow: 0 0 20px $pink;
        }

        &:focus {
            outline: none;
        }
    }

    &.button--favorite {
        width: 60px;
        height: 40px;
        border: 1px solid $white;
        background-color: transparent;

        &:before {
            content: "";
            position: absolute;
            width: 16px;
            height: 15px;
            top: 50%;
            left: 50%;
            background-image: url("../img/favorite-icon.png");
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
        }

        &:hover,
        &:focus-within {
            border-color: transparent;
            box-shadow: 0 0 20px $pink;
        }

        &:focus {
            outline: none;
        }
    }

    &.button--icon-arrow {
        padding-right: 29px;

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            right: 10px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 4px solid #ffffff;
            transform: translateY(-50%);
        }
    }

    &.button--icon-arrow-next {
        padding-right: 43px;

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            right: 19px;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid $white;
            transform: translateY(-50%);
        }

        &:after {
            content: "";
            position: absolute;
            width: 12px;
            height: 2px;
            background-color: $white;
            top: 50%;
            right: 23px;
            transform: translateY(-50%);
        }
    }
}

.header__menu {
    .submenu {
        display: none;
        position: absolute;
        min-width: 840px;
        padding: 20px 25px;
        left: 0;
        background-color: $white;
        z-index: 5;

        .link-category {
            display: block;
            font-size: 14px;
            font-weight: 600;
            color: $black;
            line-height: 32px;
            text-transform: uppercase;
            box-shadow: 0 1px #e8e8e8;
            transition: .3s ease all;

            &:focus {
                outline: none;
            }

            &:hover,
            &:focus {
                color: $pink;
            }
        }

        .promo {
            display: block;
            position: relative;
            margin-top: 20px;
        }

        .promo__text {
            position: absolute;
            width: min-content;
            display: block;
            right: 10px;
            bottom: 10px;
            color: $white;
            font-size: 22px;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    .submenu__block {
        flex-basis: 33.33%;

        &:not(:last-child) {
            margin-right: 45px;
        }

        .submenu__list {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    .submenu__list {
        list-style-type: none;
    }

    .submenu__item {

        a {
            display: block;
            padding: 5px 0;
            font-size: 14px;
            color: #646464;
            transition: .3s ease all;

            &:focus {
                outline: none;
            }

            &:hover,
            &:focus {
                color: $black;
            }
        }
    }

    .menu__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;

        .menu__link {
            display: block;
            padding: 18px;
            color: $black;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
            text-decoration: none;
            transition: .3s ease all;

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, .03);
            }

            &:focus {
                outline: none;
            }
        }
    }

    .menu__item {
        position: relative;

        &.menu__item--active {
            .menu__link {
                box-shadow: inset 0 -3px #f16d7f;
            }
        }

        &:hover,
        &:focus-within {
            .submenu {
                display: flex;
            }
        }
    }
}


.slider-main {
    position: relative;
    height: 615px;
    background-color: #e8e8e8;
    background-image: url("../img/image1.png");
    background-repeat: no-repeat;
    background-position: 135px -50px;
}

.slider-main__content {
    padding-left: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 100%;
        left: 0;
        background-color: #f16d7f;
    }

    .slider-main__text-big {
        display: block;
        font-size: 60px;
        font-weight: 900;
        color: $black;
        text-transform: uppercase;
    }

    .slider-main__text {
        display: block;
        font-size: 40px;
        font-weight: 900;
        color: $black;
        text-transform: uppercase;
    }

    .pink-text {
        color: $pink;
    }
}

.categories-products-box {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    .categories-products {
        display: flex;
        flex-direction: column;

        &.categories-products--reverse {
            flex-direction: column-reverse;
        }
    }

    .product {
        position: relative;
        width: 560px;
        margin-bottom: 20px;
        min-height: 540px;
        background-color: #fff6e6;
        text-decoration: none;

        &:hover,
        &:focus {
            .product__label {
                top: 0;
            }
        }

        &:focus {
            outline: none;
        }

        &.product--small {
            min-height: 260px;
        }

        &.product--men {
            background-image: url("../img/product-men.png");
            background-repeat: no-repeat;
        }

        &.product--accesories {
            background-color: #dadad2;
            background-image: url("../img/product-accesories.png");
            background-repeat: no-repeat;
            background-position: right;
        }

        &.product--women {
            background-image: url("../img/product-women.png");
            background-repeat: no-repeat;
        }

        &.product--kids {
            background-image: url("../img/product-kids.png");
            background-repeat: no-repeat;
        }
    }

    .product__label {
        position: absolute;
        padding: 16px 18px;
        top: 25px;
        left: 0;
        background-color: $white;
        transition: .3s ease all;

        span {
            display: block;
        }

        .title {
            font-size: 18px;
            font-weight: 900;
            color: $black;
            text-transform: uppercase;
        }

        .categories {
            font-size: 30px;
            font-weight: 900;
            color: $pink;
            text-transform: uppercase;

        }
    }
}

.products-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;

    .product {
        width: 260px;
        margin-bottom: 40px;
        transition: .3s ease all;

        &:hover,
        &:focus-within {
            transform: scale(1.03);
            box-shadow: 0 5px 8px rgba(0, 0, 0, .16);

            .product__header {
                .product__image {
                    filter: brightness(.3);
                }

                .button {
                    display: block;
                }
            }
        }

        &:focus {
            outline: none;
        }
    }

    .product__header {
        display: block;
        position: relative;

        .button {
            display: none;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s ease all;
        }
    }

    .product__image {
        width: 100%;
        transition: .3s ease all;
    }

    .product__content {
        display: block;
        padding: 20px 15px;
    }

    .product__name {
        margin: 0;
        margin-bottom: 17px;
        font-size: 13px;
        font-weight: 800;
        color: $black;
        text-transform: uppercase;
    }

    .product__price {
        font-size: 16px;
        font-weight: 800;
        color: $pink;
        text-transform: uppercase;
    }
}

.advantages {
    display: flex;
    margin-top: 110px;
}

.advantages__offer {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../img/shadow-offer.png");
        z-index: 1;
    }
}

.advantages__image {
    height: 100%;
}

.advantages__label {
    position: absolute;
    top: 145px;
    left: 45px;
    z-index: 2;
}

.advantages__text-big {
    display: block;
    font-size: 54px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
}

.advantages__text {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
}

.advantages__list {
    padding: 48px 36px;
    background-color: #222224;
    z-index: 3;

    .advantages__item {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}

.advantages__item {
    position: relative;
    padding-left: 80px;
    color: $white;

    .title {
        margin: 0;
        margin-bottom: 17px;
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 700;
    }

    .description {
        color: #fbfbfb;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
}

.advantages__icon {
    position: absolute;
    top: -10px;
    left: 0;
}

.subscribe {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 438px;
    background-image: url("../img/sea.png");
    background-repeat: no-repeat;
    background-size: cover;

    .subscribe__about,
    .subscribe__form {
        flex-basis: 50%;
        z-index: 2;
    }

    &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        left: 50%;
        background-color: $white;
        transform: translateX(-50%);
    }
}

.subscribe__about {
    padding-top: 110px;
    padding-right: 70px;
}

.author {
    display: flex;
}

.author__photo {
    margin-right: 28px;
    width: 83px;
    height: 83px;
}

.author__message {
    display: block;
    margin-bottom: 19px;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    color: $black;
}

.author__name {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: $pink;
}

.author__location {
    font-size: 12px;
    font-weight: 300;
    color: #222224;
    line-height: 14px;
}

.author__slider {
    display: flex;
    margin-top: 40px;
    margin-left: 111px;

    .slide {
        width: 38px;
        height: 4px;
        background-color: #d6d6d6;
        transition: .3s ease all;
        cursor: pointer;

        &.slide--active {
            background-color: $pink;
        }

        &:hover {
            transform: rotate(180deg);
        }

        &:not(:last-child) {
            margin-right: 13px;
        }
    }
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 54px;
        text-transform: uppercase;
    }

    .description {
        font-size: 14px;
        color: #222224;
        text-transform: uppercase;
    }
}

.subscribe__input {
    position: relative;
    margin-top: 35px;

    input {
        width: 380px;
        padding: 14px 28px;
        padding-right: 100px;
        background-color: #e1e1e1;
        border: none;
        border-radius: 50px 0 0 50px;
        font-size: 14px;
        transition: .3s ease all;

        &:hover,
        &:focus {
            box-shadow: inset 0 0 0 4px $pink;
        }

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-size: 14px;
            color: #222224;
        }
    }

    .button {
        position: absolute;
        top: 0;
        right: -20px;
        padding: 14px 19px;
        border-radius: 0 50px 50px 0;
        font-size: 14px;
    }
}

.footer {
    display: flex;
}

.footer__about {
    margin-right: 60px;
    flex-basis: 65%;

    .logotype {
        margin-bottom: 30px;
    }

    .description {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: $light-gray;

        .text {
            display: block;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
}

.footer__nav {
    display: flex;
    width: 100%;

    .menu__list {
        flex-basis: 33.33%;
        margin: 0;
        list-style-type: none;
    }

    .link-category {
        display: block;
        margin-bottom: 35px;
        font-size: 18px;
        font-weight: bold;
        color: $pink;

    }

    .menu__item {
        a {
            display: block;
            position: relative;
            padding: 13px 0;
            font-size: 16px;
            color: $light-gray;
            text-decoration: none;
            transition: .3s ease all;

            &:before {
                content: "";
                position: absolute;
                width: 5px;
                height: 2px;
                top: 50%;
                left: 0;
                background-color: $pink;
                transform: translateY(-50%);
                opacity: 0;
            }

            &:hover,
            &:focus {
                padding-left: 10px;
                color: $black;

                &:before {
                    opacity: 1;
                }
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #e6e6e6;
}

.copyright {
    font-size: 16px;
    color: #7a7a7a;
    line-height: 42px;
}

.social-networks {
    display: flex;

    .social {
        display: block;
        position: relative;
        width: 32px;
        height: 32px;
        background-color: $white;
        transition: .3s ease all;

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus {
            background-color: $pink;

            i {
                color: #f7f7f8;
            }
        }

        &:not(:last-child) {
            margin-right: 8px;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            color: #b2b2b2;
            transform: translate(-50%, -50%);
            transition: .3s ease all;
        }
    }
}

.filters__list {
    list-style-type: none;

    .filters__filter {
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    .categories {
        display: none;
        padding-top: 8px;
        padding-left: 16px;
        list-style-type: none;
    }

    .categories__name {
        a {
            display: block;
            position: relative;
            padding: 8px 0;
            font-size: 14px;
            color: #6f6e6e;
        }
    }
}

.filter__name {
    display: block;
    position: relative;
    padding: 11px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #6f6e6e;
    line-height: 20px;
    text-transform: uppercase;
    box-shadow: 0px 1px rgba(0, 0, 0, .05);
    transition: .3s ease all;

    &:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        top: 50%;
        left: 0;
        background-color: $pink;
        transform: translateY(-50%);
    }

    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        right: 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #838383;
        transform: translateY(-50%);
    }
}

.filters__filter {
    &.filters__filter--active {
        .categories {
            display: block;
        }

        .filter__name {
            color: $pink;

            &:after {
                border-top-color: $pink;
                transform: rotate(180deg);
            }
        }
    }
}

.catalog-block {
    margin-left: 50px;

    .style {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }

    .style__item {
        position: relative;

        &:not(:last-child) {
            padding-right: 30px;

            &:before {
                content: "|";
                position: absolute;
                top: 50%;
                right: 10px;
                color: #dfdfdf;
                transform: translateY(-50%);
            }
        }
    }
}

.checkbox-style {
    font-size: 14px;
    color: #6f6e6e;
    line-height: 26px;
    cursor: pointer;

    span {
        transition: .3s ease all;
    }

    input {

        &:hover,
            &:focus {
                +span {
                    color: $black;
                }
            }

            &:focus {
                outline: none;
            }

        &:checked {
            +span {
                color: $pink;
            }
        }
    }
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.sorting__content {
    flex-basis: 33.33%;

    h5 {
        margin: 0;
        margin-bottom: 25px;
        font-size: 14px;
        font-weight: 700;
        color: #6f6e6e;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;

    .checkbox-container {
        flex-basis: 25%;
        margin-bottom: 10px;
        cursor: pointer;

        span {
            position: relative;
            padding-left: 23px;
            font-size: 14px;
            color: #6f6e6e;
            text-transform: uppercase;
            transition: .3s ease all;

            &:before {
                content: "";
                position: absolute;
                width: 13px;
                height: 13px;
                top: 50%;
                left: 0;
                box-shadow: 0 0 0 1px #ebebeb;
                transform: translateY(-50%);
                transition: .3s ease all;
            }

            &:after {
                content: "done";
                position: absolute;
                @include material-icons();
                font-size: 12px;
                font-weight: 600;
                color: $white;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                transition: .3s ease all;
                opacity: 0;
            }
        }

        input {

            &:hover,
            &:focus {
                +span {
                    color: $black;

                    &:before {
                        box-shadow: 0 0 0px 1px rgba(241, 109, 127, .50);
                    }
                }
            }

            &:focus {
                outline: none;
            }

            &:checked {
                +span {
                    &:before {
                        background-color: $pink;
                    }

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.trackbar {
    display: flex;
    flex-direction: column;
}

.price {
    width: 70px;
    font-size: 14px;
    color: #6f6e6e;
    border: none;

    &.price--min {
        text-align: left;
    }

    &.price--max {
        text-align: right;
    }
}

.range {
    position: relative;
    width: 260px;
    height: 15px;
    margin-bottom: 16px;

    &:before {
        content: "";
        position: absolute;
        width: 260px;
        height: 6px;
        background-color: #f0f0f0;
        border-radius: 3px;
    }
}

.range-track {
    position: absolute;
    width: 125px;
    height: 6px;
    top: 0;
    left: 23px;
    background-color: $pink;
}

.range-thumb {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -4px;
    background-color: $pink;
    border: none;
    border-radius: 50px;
    transition: .3s ease all;
    z-index: 1;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #ffbfc8;
        box-shadow: 0 0 0 3px $pink;
    }

    &:focus {
        outline: none;
    }

    &.range-thumb--min {
        left: 20px;
    }

    &.range-thumb--max {
        right: 105px;
    }
}

.range-prices {
    display: flex;
    justify-content: space-between;
}

.catalog__products {
    margin-bottom: 110px;

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product {
        margin-bottom: 50px;
        transition: .3s ease all;

        &:hover,
        &:focus-within {
            transform: scale(1.03);
            box-shadow: 0 5px 8px rgba(0, 0, 0, .16);

            .product__header {
                .product__image {
                    filter: brightness(.3);
                }

                .button {
                    display: block;
                }
            }
        }

        &:focus {
            outline: none;
        }
    }

    .product__header {
        display: block;
        position: relative;

        .buttons {
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 125px;
            height: 40px;
            top: 148px;
            left: 50%;
            transform: translateX(-50%);
        }

        .button {
            display: none;
        }

        .button--add-to-cart {
            display: none;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s ease all;
        }
    }

    .product__image {
        width: 260px;
        height: 280px;
    }

    .product__content {
        padding: 15px 20px;
    }

    .product__name {
        margin-bottom: 17px;
        font-size: 13px;
        color: #6f6e6e;
        text-transform: uppercase;
    }

    .product__price {
        font-size: 16px;
        font-weight: 600;
        color: $pink;
        text-transform: uppercase;
    }
}

.panel-sortings {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #f3f3f3;

    .sort-by {
        margin-right: 10px;

        .description-select {
            padding: 5px;
            background-color: $white;
            font-size: 14px;
            color: #6f6e6e;
        }

        .select-sorting {
            padding: 5px;
            width: 85px;
            border: none;
            font-size: 14px;
            color: #6f6e6e;
        }
    }

    .show {
        margin-right: 10px;

        .description-select {
            padding: 5px;
            background-color: $white;
            font-size: 14px;
            color: #6f6e6e;
        }

        .select-sorting {
            padding: 5px;
            width: 60px;
            border: none;
            font-size: 14px;
            color: #6f6e6e;
        }
    }
}

.paginator-and-button {
    display: flex;
    justify-content: space-between;

    .button {
        padding-left: 45px;
        padding-right: 45px;
        border-radius: 2px;
    }
}

.paginator__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 0 0 0 1px #ebebeb;
}

.paginator__item {
    transition: .3s ease all;

    a {
        display: block;
        padding: 12px 8px;
        font-size: 16px;
        font-weight: 600;
        color: #c4c4c4;
    }

    &.paginator__item--active {
        a {
            color: $pink;
        }
    }

    &:hover,
    &:focus {
        background-color: rgba(25, 0, 0, .04);
    }

    &:focus {
        outline: none;
    }
}

.paginator__btn-back {
    display: block;
    position: relative;
    width: 25px;
    height: 43px;

    &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 10px;
        top: 14px;
        left: 50%;
        background-color: $pink;
        transform: translateX(-50%) rotate(45deg);
    }

    &:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 10px;
        bottom: 13px;
        left: 50%;
        background-color: $pink;
        transform: translateX(-50%) rotate(-45deg);
    }

    &.paginator__btn-back--last {
        &:before,
        &:after {
            background-color: #aaaaaa;
        }
    }
}

.paginator__btn-next {
    display: block;
    position: relative;
    width: 25px;
    height: 43px;

    &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 10px;
        top: 14px;
        right: 50%;
        background-color: $pink;
        transform: translateX(-50%) rotate(-45deg);
    }

    &:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 10px;
        bottom: 13px;
        right: 50%;
        background-color: $pink;
        transform: translateX(-50%) rotate(45deg);
    }

    &.paginator__btn-back--next {
        &:before,
        &:after {
            background-color: #aaaaaa;
        }
    }
}

.special {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #222224;
    color: #fbfbfb;

    .special__box {
        &:not(:last-child) {
            margin-right: 64px;
        }
    }
}

.special__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33.33%;
}

.special__icon {
    margin-bottom: 23px;
}

.special__title {
    margin: 0;
    margin-bottom: 17px;
    font-size: 20px;
    font-weight: 600;
}

.special__text {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.product-slide {
    position: relative;
    height: 777px;
    background-color: #f7f7f7;

    .product-slide__back,
    .product-slide__next {
        position: absolute;
        width: 47px;
        height: 47px;
        top: 50%;
        background-color: rgba(42, 42, 42, .15);
        border: none;
        transform: translateY(-50%);
    }

    .product-slide__back {
        left: 0;

        &:before {
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            top: 22px;
            left: 50%;
            background-color: $white;
            transform: rotate(-45deg);
        }

        &:after {
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            top: 16px;
            left: 50%;
            background-color: $white;
            transform: rotate(45deg);
        }
    }

    .product-slide__next {
        right: 0;

        &:before {
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            top: 22px;
            left: 50%;
            background-color: $white;
            transform: rotate(45deg);
        }

        &:after {
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            top: 16px;
            left: 50%;
            background-color: $white;
            transform: rotate(-45deg);
        }
    }
}

.slide__photo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.product-slide-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
    padding: 73px 255px;
    background-color: $white;
    transform: translateY(-80px);
    box-shadow: 0 0 0 1px #eaeaea;

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        padding-bottom: 32px;
        box-shadow: 0 1px #eaeaea;
    }

    .collection {
        padding-bottom: 17px;
        font-size: 14px;
        font-weight: bold;
        color: $pink;
        line-height: 24px;
        text-transform: uppercase;

        span {
            position: relative;
            padding-bottom: 12px;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                background-color: #e6e6e6;
            }

            &:after {
                content: "";
                position: absolute;
                width: 63px;
                height: 3px;
                left: 50%;
                bottom: -1px;
                background-color: $pink;
                transform: translateX(-50%);
            }
        }
    }

    .product-name {
        margin: 0;
        margin-bottom: 55px;
        font-weight: 900;
        color: #4d4d4d;
        text-align: center;
        line-height: 24px;
        text-transform: uppercase;
    }

    .product-description {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 300;
        color: #5e5e5e;
        text-align: center;
        line-height: 24px;
    }

    .product-material {
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        .material,
        .designer {
            font-size: 14px;
            font-weight: bold;
            color: #b9b9b9;
            text-transform: uppercase;
        }

        .material-type,
        .designer-name {
            font-size: 14px;
            font-weight: bold;
            color: #2f2f2f;
            text-transform: uppercase;
        }

        span {
            &:nth-child(2) {
                margin-right: 45px;
            }
        }
    }

    .product-price {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
        color: $pink;
        line-height: 24px;
    }

    .functional {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
        padding: 0 50px;
        width: 100%;

        .title {
            margin: 0;
            margin-bottom: 16px;
            font-size: 14px;
            font-weight: bold;
            color: #2f2f2f;
            line-height: 24px;
            text-transform: uppercase;
        }

        select,
        input {
            padding: 9px 14px;
            width: 144px;
            background-color: $white;
            border: none;
            font-size: 13px;
            color: #bcbcbc;
            box-shadow: 0 0 0 1px #eaeaea;
            transition: .3s ease all;

            &:hover {
                box-shadow: 0 0 0px 2px rgba(241, 109, 127, 0.3);
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0px 2px $pink;
            }
        }

        .color {

            .this-input {
                position: relative;
                width: 144px;
                padding: 9px 14px;
                padding-left: 37px;
                background-color: $white;
                font-size: 13px;
                color: #bcbcbc;
                box-shadow: 0 0 0 1px #eaeaea;
                transition: .3s ease all;

                &:before {
                    content: "";
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    top: 17px;
                    right: 10px;
                    border-left: 2px solid #bcbcbc;
                    border-bottom: 2px solid #bcbcbc;
                    transform: rotate(-50deg) translateY(-50%);
                }
            }

            .this-input-text {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .input-func--color {
                &:hover {
                    +.this-input {
                        box-shadow: 0 0 0px 2px rgba(241, 109, 127, 0.3);
                    }
                }

                &:focus {
                    +.this-input {
                        outline: none;
                        box-shadow: 0 0 0px 2px $pink;
                    }
                }
            }

            .color-product {
                position: absolute;
                width: 12px;
                height: 12px;
                top: 50%;
                left: 14px;
                transform: translateY(-50%);

                &.red {
                    background-color: $pink;
                }
            }
        }

        .select-func--size {
            text-transform: uppercase;
        }
    }

    .button-wrapper {
        padding: 0 50px;
        width: 100%;

        .button--add-to-cart-pink {
            width: 100%;

            &:before {
                left: 207px;
            }
        }
    }
}

.likes-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;

    .product__header {
        display: block;
        position: relative;
        width: 261px;
        height: 280px;
        background-color: #e9e9e9;

        .button {
            display: none;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s ease all;
            z-index: 1;
        }

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .7);
            opacity: 0;
        }
    }

    .product {
        width: 260px;
        margin-bottom: 40px;
        transition: .3s ease all;

        &:hover,
        &:focus-within {
            transform: scale(1.03);
            box-shadow: 0 5px 8px rgba(0, 0, 0, .16);

            .product__header {
                &:before {
                    opacity: 1;
                }

                .button {
                    display: block;
                }
            }
        }

        &:focus {
            outline: none;
        }
    }

    .product__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: .3s ease all;
    }

    .product__content {
        display: block;
        padding: 20px 15px;
    }

    .product__name {
        margin: 0;
        margin-bottom: 17px;
        font-size: 13px;
        font-weight: 800;
        color: $black;
        text-transform: uppercase;
    }

    .product__price {
        font-size: 16px;
        font-weight: 800;
        color: $pink;
        text-transform: uppercase;
    }
}